<div class="navbar title-index">
  <h1>Restaurants List</h1>
  <%= link_to 'Add a restaurant', new_restaurant_path, class: 'btn btn-primary btn-add-resto' %>
</div>


<div class="container container-index">
    <% @restaurants.each do |r| %>
      <div class = "card card-index">
        <img src="https://picsum.photos/500" alt="Random" class="img-resto">
        <h5 class="card-content-info"><%= link_to r.name, restaurant_path(r), class: 'resto-name' %></h5>
        <p class="card-content-info"><strong>Food:</strong> <%= r.category.capitalize %></p>
      </div>
    <% end %>
</div>
